body {
  background: url("https://source.unsplash.com/category/nature") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.newTodoTextInput {
  font-size: 1.2em;
}

.todoLi label {
  font-size: 0.7em;
}

.footer {
  font-size: 0.7em;
}


// TODO CSS
.openTodoLink {
  color: #bbb;
  text-align: center;
  font-size: 1.5em;
  position: fixed;
  padding: 5px;
  right: 2%;
  bottom: 2%;
  width: 50px;
}

.openTodoLink:hover {
  color: #ddd;
}

.todosOpenPressed{
  color: #fff;
}

.todoContainer {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: #FFFFFF;
  width: 350px;
}

// END OF TODO

// MAIN FOCUS

.viewFocus {
  position: relative;
  display: inline-block;
  margin-top: 20%;
  height: 30px;
  width: 100%;
  font-weight: bold;
}

.mainFocusInput {
  background: rgba(0,0,0,0.0);
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  font-weight: bold;
}

.mainFocusSet {
  text-decoration: line-through;
}

.mainFocusSetText {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.destroyMainFocusBtn {
  display: none;
  height: 20px;
  font-size: 1.5em;
  color: #cc9a9a;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  margin-left: 5px;
}

.toggleFocus {
  display: inline-block;
  margin-top: 5px;
}

#toggleFocus {
  width: 15px;
  height: 15px;
}

.destroyMainFocusBtn:hover {
  color: #af5b5e;
}

.viewFocus:hover .destroyMainFocusBtn {
  display: inline-block;
}

.mainFocusTitle {
  color: white;
  text-align: center;
  font-size: 2em;
}

// END OF MAIN FOCUS

.todoapp {
  background: transparent;
  box-shadow: none;
}

// QUOTES

.Quotes {
  position: fixed;
  bottom: 10%;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
  text-align: center;
  font-size: 1.2em;
  background-color: transparent;
  color: #eceff1;
  z-index: -1;
}

 .Slide{
  animation: slide 0.5s forwards;
}

@keyframes slide {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-25px);
    }
}

.Author {
  visibility: hidden;
  font-size: 0.9em;
}

.AnimationTwo {
  animation: slide2 0.5s ease-in forwards;
  animation-delay: 0.2s;
}

@keyframes slide2 {
  0% {
    transform: translateY(-25px);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
  }
}

// END OF QUOTES

// LINKS



.Links {
  text-shadow: -2px -1px 9px rgba(188, 188, 188, 0.69);
  position: fixed;
  top: 2%;
  left: 2%;
  color: #e0e0e0;
  font-size: 1.2em;
  z-index: -1;
}

.LinksClicked {
  font-size: 1.4em;
  color: #f5f5f5;
}

#LinksUnclicked {
  font-size: 1.4em;
}

.linksBackground {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 5px;
  border-radius: 5px;
  width: 170px;
}

.enter {
  animation: Enter .3s;
}

@keyframes Enter {
  from {opacity: 0}
  to {opacity: 1}
}

.leave {
  animation: Leave .3s;
}

@keyframes Leave {
  from {opacity: 1}
  to {opacity: 0}
}

.linksBackground ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}

.linksBackground li{
  padding: 1px;
  margin: 1px;
}

.linksBackground i {
  position: relative;
  left: 11.5%;
}

.linksBackground a {
  text-decoration: none;
  color: #e0e0e0;
  opacity: 0.7;
}

.linksBackground a:hover {
  text-shadow: -2px -1px 9px rgba(188, 188, 188, 0.69);
  opacity: 1;
  color: #f5f5f5;
}

.linksBackground i {
  color: #e0e0e0;
  opacity: 0.7;
}

.linksBackground i:hover {
  text-shadow: -2px -1px 9px rgba(188, 188, 188, 0.69);
  opacity: 1;
  color: #f5f5f5;
}

.linksForm input {
  box-sizing: border-box;
  background: none;
  background-color: #424242;
  border: none;
  width: 100%;
  margin-left: -2.5%;
  padding: 3px;
  color: #e0e0e0;
}

#hiddenSubmit {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 1px;
  width: 1px;
}

.linksItem-enter {
  opacity: 0.01;
}

.linksItem-enter.linksItem-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.linksItem-leave {
  opacity: 1;
}

.linksItem-leave.linksItem-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

// END OF LINKS

.clockStyle {
  position: fixed;
  top: 30%;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  background-color: transparent;
  color: white;
  font-size: 60px;
  text-align: center;
  z-index: -1;
}

.weatherStyle {
  position: fixed;
  top: 2%;
  right: 2%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: -1;
}

.weatherStyle img {
  width: 30px;
  height: 30px;
}

.searchStyle {
  margin-left: 75px;
  margin-top: -70px;
  width: 205px;
  color: white;
}

#searchNoLinks {
  margin:auto;
  margin-top: -25px;
}

.searchStyle input:focus {
  border-bottom: 3px solid white;
}

.searchStyle input {
  height: 60px;
  padding: 20px 2px 5px 4px;
  z-index: 2;
  background: 0 0;
  border: none;
  box-sizing: border-box;
  line-height: 20px;
  outline: 0;
  color: white;
  font-size: 17px;
  width: 180px;
}

.searchStyle i {
  font-size: 17px;
}

.searchStyle i:hover {
  cursor: pointer;
}

// Settings

.settings {
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: 100%;
  height: auto;
  color: #e0e0e0;
}

.settingsPage {
  height: 350px;
  width: 90%;
  max-width: 700px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);;
  margin-bottom: 1%;
  z-index: 10;
}

.settingsLeft {
  float: left;
  width: 25%;
  height: 95.5%;
  border-right: 1px solid #616161;
  padding-left: 5%;
  padding-top: 3%;
  overflow-wrap: break-word;

  .settingsLeftText {
    &:hover {
      cursor: pointer;
    }
  }
}

.settingsRight {
  position: relative;
  float: right;
  width: 69%;
  height: 99%;
}

.background{
  color: #aaa;

  h2 {
    color: #eee;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: 5%;
    &:hover{
      color: #eee;
      cursor: pointer;
    }

  }
    .active {
      border-bottom: 3px solid #eee;
      color: #eee;
    }

  .line-separator {  
    display: absolute;
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
    width: 98%;
  }

  .backgroundImageItem {
    position: relative;
    width: 54px;
    height: 54px;
    border: 1px solid gray;
    display: inline-block;
    margin: 5px;

    &:hover {
      cursor: pointer;
      border: 1px solid green;
    }

      .heartInBackgroundHistory {
        position: absolute;
        top: 0px;
        left: 38px;
        
        &:hover {
          cursor: pointer;
          color: white;
        }
      }
  }

  .backgroundHistoryViewContainer {
    max-height: 205px;
    overflow: auto;
  }
}

// About
.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
}

.about a {
  color: #f5f5f5;
}

// GENERAL
.general {
  padding: 2%;
  font-size: 1.1em;
}

.general li {
  border-bottom: 1px solid #f5f5f5;

  margin-right: 4%;
  margin-bottom: 2%;
}

.general ul {
  list-style-type: none;
}

.switch {
  float: right;
}

.example-appear {
  opacity: 0;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

//REGISTER
.register {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.regForm {
  margin: auto;
  margin-top: 150px;
  width: 50%;
  max-width: 400px;
}

// QUOTES SETTINGS

.QuotesSettings {
  height: 100%;
  width: auto;
  overflow-y: scroll;
  padding: 1%;
}

.topBar {
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  padding: -2%;
}

#rightSpan {
  margin-right: -30%;
  margin-left: 25%
}

#leftSpan {
  margin-left: -25%;
  margin-right: -5%;
}

.QuotesSettings li {
  list-style-type: none;
  border-bottom: 1px solid #e0e0e0;
  margin-right: 4%;
  margin-bottom: 2%;
  padding-top: 2%;
}

.QuotesListItem {
  font-size: 1.1em;
  color: #f5f5f5;
}

#author {
  font-size: 0.8em;
  color: #e0e0e0;
}
