html {
  background: url("https://source.unsplash.com/category/nature/daily") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  background-color: transparent;
}

.newTodoTextInput {
  font-size: 1.2em;
}

.todoLi label {
  font-size: 0.7em;
}

.footer {
  font-size: 0.7em;
}


// TODO CSS
.openTodoLink {
  color: #DA7777;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
  position: fixed;
  padding: 5px;
  right: 5%;
  bottom: 1%;
  width: 50px;
}

.openTodoLink:hover {
  color: #5F021F;
  border: 1px solid #5F021F;
}

.todosOpenPressed{
  color: #5F021F;
}

.todoContainer {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: #FFFFFF;
  width: 350px;
}

// END OF TODO

// MAIN FOCUS

.mainFocusWrapper{
  position: absolute;
  margin: 0 auto;
  background: rgba(0,0,0,0.0);
  width: 100%;
}

.viewFocus {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
}

.mainFocusInput {
  background: rgba(0,0,0,0.0);
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  font-weight: bold;
}

.mainFocusSet {
  text-decoration: line-through;
}

.mainFocusSetText {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.destroyMainFocusBtn {
  display: none;
  height: 20px;
  font-size: 1.5em;
  color: #cc9a9a;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  margin-left: 5px;
}

.toggleFocus {
  display: inline-block;
  margin-top: 5px;
}

#toggleFocus {
  width: 15px;
  height: 15px;
}

.destroyMainFocusBtn:hover {
  color: #af5b5e;
}

.viewFocus:hover .destroyMainFocusBtn {
  display: inline-block;
}

.mainFocusTitle {
  color: white;
  text-align: center;
  font-size: 2em;
}

// END OF MAIN FOCUS

.todoapp {
  background: transparent;
  box-shadow: none;
}


.Quotes {
  position: fixed;
  bottom: 20%;
  text-align: center;
  font-size: 1.6em;
  background-color: transparent;
  color: #eceff1;
}

 .Slide{
  animation: slide 0.5s forwards;
}

@keyframes slide {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-25px);
    }
}

.Author {
  visibility: hidden;
  font-size: 0.9em;
}

.AnimationTwo {
  animation: slide2 0.5s ease-in forwards;
  animation-delay: 0.2s;
}

@keyframes slide2 {
  0% {
    transform: translateY(-25px);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
  }
}

.Links {
  position: fixed;
  top: 2%;
  left: 2%;
  color: #e0e0e0;
  font-size: 1.2em;
}

.linksBackground {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 5px;
  border-radius: 5px;
  width: 170px;
}

.linksBackground ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}
.linksBackground a {
  text-decoration: none;
  color: #f5f5f5;
}

.linksBackground i {
  position: fixed;
  left: 12%;
}

#hiddenSubmit {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 1px;
  width: 1px;
}

.clockStyle {
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: transparent;
  color: white;
  font-size: 85px;
  text-align: center;
}

.weatherStyle {
  position: fixed;
  top: 5%;
  right: 5%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  text-align: center;
}

.weatherStyle img {
  width: 30px;
  height: 30px;
}

.searchStyle {
  width: 205px;
  color: white;
}

.searchStyle input:focus {
  border-bottom: 3px solid white;
}

.searchStyle input {
  height: 60px;
  padding: 20px 2px 5px 4px;
  z-index: 2;
  background: 0 0;
  border: none;
  box-sizing: border-box;
  line-height: 20px;
  outline: 0;
  color: white;
  font-size: 17px;
  width: 180px;
}

.searchStyle i {
  font-size: 17px;
}

.searchStyle i:hover {
  cursor: pointer;
}
