html {
  background: url("https://source.unsplash.com/category/nature/daily") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  background-color: transparent;
}

.newTodoTextInput {
  font-size: 1.2em;
}

.todoLi label {
  font-size: 0.7em;
}

.footer {
  font-size: 0.7em;
}

.openTodoLink {
  color: #EAD7D7;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
  position: fixed;
  padding: 5px;
  right: 5%;
  bottom: 1%;
  width: 50px;
}

.openTodoLink:hover {
  color: #5F021F;
  border: 1px solid #5F021F;
}

.todosOpenPressed{
  color: #5F021F;
}

.todoContainer {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: #FFFFFF;
  width: 350px;
}

.todoapp {
  background: transparent;
  box-shadow: none;
}


.Quotes {
  position: fixed;
  bottom: 3%;
  text-align: center;
  font-size: 1.6em;
  background-color: transparent;
  color: #eceff1;
}

 .Slide{
  animation: slide 0.5s forwards;
}

@keyframes slide {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-25px);
    }
}

.Author {
  visibility: hidden;
  font-size: 0.9em;
}

.AnimationTwo {
  animation: slide2 0.5s ease-in forwards;
  animation-delay: 0.2s;
}

@keyframes slide2 {
  0% {
    transform: translateY(-25px);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
  }
}

.Links {
  position: fixed;
  top: 2%;
  left: 2%;
  color: #e0e0e0;
  font-size: 1.2em;
}

.linksBackground {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 5px;
  border-radius: 5px;
  width: 170px;
}

.linksBackground ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}
.linksBackground a {
  text-decoration: none;
  color: #f5f5f5;
}

.linksBackground i {
  position: fixed;
  left: 12%;
}

#hiddenSubmit {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 1px;
  width: 1px;
}

.clockStyle {
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: transparent;
  color: white;
  font-size: 85px;
  text-align: center;
}

.weatherStyle {
  float: right;
  background-color: transparent;
  color: white;
  font-size: 18px;
  text-align: center;
}

.weatherStyle img {
  width: 30px;
  height: 30px;
}
